<header class="header">
  <div class="top-header">
    <a href="/client/Login.html" class="signInbutton">SignIn</a>
    <a href="/client/SignUp.html" class="signInbutton">Register</a>
  </div>
  <section id="main-nav">
    <nav>
      <img
        src="/static/images/logo_2x.png"
        alt="My Portfolio"
        id="logo"
        height="50px"
      />
      <section class="link-section">
        <a href="home.html">Home</a>
        <a href="products.html">Products</a>
      </section>
    </nav>
    <button class="cart-button">
      <i class="fas fa-solid fa-cart-arrow-down cart-icon"></i>
      &nbsp;&nbsp;2 items
    </button>
  </section>
</header>
